body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}
.invoice-col{
    margin-bottom: 20px;
}
textarea{
    resize: none;
}
tr.items_header{
    color:#FFFFFF;
    background-color: #3c8dbc;
}
.login-logo {
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
    background: #000000;
    padding: 20px;
    color: #FFFFFF;
}

.content-header {
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 5px;
    background: #ffffff !important;
    padding-left: 25px;
}
.form-group.has-error .chosen-single {
    border-color: #dd4b39 !important;
    box-shadow: none;
}
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
a{
    cursor: pointer;
}
.content-wrapper, .right-side {
    background-color: #fff;
}
.wrapper{
    overflow: visible;
}
.spinner {
    min-width: 24px;
    min-height: 24px;
    opacity: 0.4;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 100;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

.input-file { position: relative; } /* Remove margin, it is just for stackoverflow viewing */
.input-file .input-group-addon { border: 0px; padding: 0px; }
.input-file .input-group-addon .btn { border-radius: 0 4px 4px 0 }
.input-file .input-group-addon input { cursor: pointer; position:absolute; width: 72px; z-index:2;top:0;right:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0; background-color:transparent; color:transparent; }